#btns {
  width: 75%;
}


#btn1 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn2 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn3 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn4 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn5 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn6 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn7 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn8 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
#btn9 {
  width: 30%;
  height: 48px;
  font-size: 24px;
}